.nav-wrapper {
    display: flex;
    align-items: center;
    background-color: #222222;
    height: 5rem;
    img {
        margin: 0;
        height: 5rem;
    }
    ul {
        margin: 0;
        display: flex;
        list-style: none;
        li {
            margin: 1rem;
            a {
                text-decoration: none;
                color: white;
                font-weight: 700;
                font-size: 1.2rem;
            }
        }
    }
}